.about_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.about_nav {
    display: flex;
    gap: 30px;
}

.about_nav_link {
    font-family: 'Ferry', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #102327;
    transition: .2s ease;

    &:hover {
        opacity: .7;
    }
}

.about_nav_burger {
    display: none;
}

.about_main {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.about_task {
    width: 55%;
    height: 520px;
    border-radius: 10px;
    border: 2px solid #A0A0A0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
}

.about_header_task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav_task {
    font-family: 'Ferry', sans-serif;
    font-size: 20px;
    color: #A0A0A0;
    padding: 20px 0;
    border-bottom: 2px solid #A0A0A0;
    width: 33.3%;
    text-align: center;
    cursor: pointer;
}

.header_nav_task_active {
    font-family: 'Ferry', sans-serif;
    font-size: 20px;
    color: #102327;
    text-align: center;
    border-left: 2px solid #A0A0A0;
    border-right: 2px solid #A0A0A0;
    width: 33%;
    padding: 20px 0;
    cursor: pointer;

    &:first-child{
        border-left: none;
    }

    &:last-child {
        border-right: none;
    }
}

.about_main_task {
    padding: 40px 30px;
}

.main_task_about {
    display: none;
}

.main_task_about_active {
    display: block;
    transition: .2s ease;
}

.about_subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #102327;
}

.main_task_skills {
    display: none;
}

.main_task_skills_active {
    display: block;
    transition: .2s ease;
}

.skills_title {
    font-family: 'Ferry', sans-serif;
    font-size: 20px;
    color: #102327;
}

.about_skills_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    margin: 20px 0 60px 0;

    .skills_span_container {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    img{
        width: 25px;
        height: 25px;
    }

    span {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #102327;
    }
}

.skills_subtitle {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #102327;
}

.main_task_education {
    display: none;
}

.main_task_education_active {
    display: block;
    transition: .2s ease;
}

.education_container {
    margin-bottom: 40px;
}

.skillseducation_subtitle {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #A0A0A0;

    span{
        color: #102327;
    }
}

.about_main_image {
    width: 40%;

    img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1300px) {
    .about_subtitle {
        font-size: 20px;
        line-height: 22px;
    }
} 

@media screen and (max-width: 1200px) {
    .header_nav_task {
        font-size: 18px;
    }

    .header_nav_task_active {
        font-size: 18px;
    }

    .about_subtitle {
        font-size: 18px;
        line-height: 22px;
    }

    .skills_title {
        font-size: 18px;
    }
    
    .about_skills_container {
        gap: 14px;
        margin: 20px 0 40px 0;
    
        .skills_span_container {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    
        img{
            width: 20px;
            height: 20px;
        }
    
        span {
            font-size: 14px;
        }
    }

    .skills_subtitle {
        font-size: 16px;
    }

    .skillseducation_subtitle {
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .about {
        height: 100%;
    }

    .about_main_image{
        width: 80%;
    }

    .about_task {
        width: 80%;
        height: 500px;
    }

    .about_main {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
}

@media screen and (max-width: 850px) {
    .about_nav_burger {
        display: block;
    }

    .about_nav {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .about_task {
        width: 100%;
        height: 460px;
    }
}

@media screen and (max-width: 600px) {
    .about_task {
        width: 100%;
        height: 450px;
    }

    .about_main_task {
        padding: 30px 20px;
    }

    .header_nav_task {
        font-size: 16px;
    }

    .header_nav_task_active {
        font-size: 16px;
    }

    .about_subtitle {
        font-size: 16px;
        line-height: 22px;
    }

    .skills_title {
        font-size: 16px;
    }

    .skills_subtitle {
        font-size: 14px;
    }

    .skillseducation_subtitle {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .about_task {
        height: 420px;
    }

    .header_nav_task {
        font-size: 14px;
    }

    .header_nav_task_active {
        font-size: 14px;
    }

    .about_subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    .skills_title {
        font-size: 14px;
    }

    .about_skills_container {
        gap: 10px;
        margin: 20px 0 40px 0;
    
        .skills_span_container {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    
        img{
            width: 16px;
            height: 16px;
        }
    
        span {
            font-size: 12px;
        }
    }

    .skills_subtitle {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .about_task {
        height: 420px;
    }

    .about_main_task {
        padding: 20px;
    }

    .header_nav_task {
        font-size: 12px;
    }

    .header_nav_task_active {
        font-size: 12px;
    }
}

@media screen and (max-width: 420px) {
    .about_task {
        height: 430px;
    }
}

@media screen and (max-width: 380px) {
    .about_task {
        height: 480px;
    }
}