@font-face {
	font-family: 'Ferry';
	src: url('./assets/fonts/Ferry-Black/Ferry-Black.eot');
	src: local('Ferry Black'), local('Ferry-Black'),
		url('./assets/fonts/Ferry-Black/Ferry-Black.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Ferry-Black/Ferry-Black.woff') format('woff'),
		url('./assets/fonts/Ferry-Black/Ferry-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

body {
  	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 10px;
}
