@font-face {
	font-family: 'Ferry';
	src: url('./assets/fonts/Ferry-Black/Ferry-Black.eot');
	src: local('Ferry Black'), local('Ferry-Black'),
		url('./assets/fonts/Ferry-Black/Ferry-Black.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Ferry-Black/Ferry-Black.woff') format('woff'),
		url('./assets/fonts/Ferry-Black/Ferry-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

body {
  	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	background-color: hsl(225, 33%, 95%);
	scrollbar-width: 10px;
	scrollbar-color: #9d9d9d;
}
  
body::-webkit-scrollbar{
	width: 10px;
}
  
body::-webkit-scrollbar-thumb {
	background-color: #9d9d9d;
	border-radius: 20px;
}

.container {
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 10px;
}

.loader_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
